{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Add Game | GameCodex{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center p-5">
    <div class="p-4">

        <div class="pb-5">
            <h2 class="text-center mb-4">Add Game to Your Profile</h2>
        </div>
        
        <div class="row custom-card p-5">        
            
            <div class="col-md-4 d-flex justify-content-center align-items-start "> 
                {% if cover_id %}
                    <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ cover_id }}.jpg" alt="Game cover" class="img-fluid mb-3 img-rounded">
                {% endif %}
            </div>

            <div class="col-md-8">
                
                {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    <p class="fw-bolder">Oops! That combo doesn’t work:</p>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                <form method="post" class="form-center">
                    {% csrf_token %}
                    
                    <!-- Hidden fields to carry into POST -->
                    <input type="hidden" name="cover_id" value="{{ cover_id }}">
                    <input type="hidden" name="title" value="{{ form.title.value }}">
                   
                    <div class="form-row pb-3">
                        <label class="form-label fw-bold">Title:</label>
                        <span class="text-light">{{ form.title.value }}</span>
                    </div>

                    <div class="form-row pb-3">
                        <label class="form-label fw-bold">Platform:</label>
                        {{ form.platform|add_class:"custom-dropdown" }}
                    </div>

                    {% if summary %}
                        <div class="form-row pb-4 ">
                            <label class="form-label fw-bold">Description:</label>
                            {{ summary }}
                        </div>
                    {% endif %}

                    <div class="form-row pb-3">
                        <label class="form-label fw-bold">Status:</label>
                        {{ form.status|add_class:"custom-dropdown" }}
                    </div>

                    <div class="form-row pb-2">
                        <label class="form-label fw-bold">Date started:</label>
                        {{ form.date_started|add_class:"date-input" }}
                    </div>

                    <div class="form-row">
                        <label class="form-label fw-bold">Date completed:</label>
                        {{ form.date_completed|add_class:"date-input" }}
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'search' %}" class="btn btn-secondary">Back</a>
                        <button type="submit" class="btn custom-green-btn">Save</button>
                    </div>
                
                </form>
            
            </div>
        
        </div> 

    </div>

</div>
{% endblock %}
