{% extends 'base.html' %}
{% block content %}
<section class="my-5">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center pb-2 mb-3">
            <h2 class="text-decoration-underline profile-title">{{ user.username }}'s Profile</h2>
            <div class="d-flex flex-column flex-md-row align-items-end gap-2">
                <a href="{% url 'all_entries' %}" class="btn custom-btn">View All Entries</a>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                {% if "game" in message.tags %}
                    <div class="alert alert-success mt-3">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="row row-cols-2 row-cols-md-4 text-center mb-4 g-3">
            <div class="col">
                <span class="fw-bold">Currently Playing:</span> X
            </div>
            <div class="col">
                <span class="fw-bold">Games Completed:</span> X
            </div>
            <div class="col">
                <span class="fw-bold">Gaming Backlog:</span> X
            </div>
            <div class="col">
                <span class="fw-bold">Games Abandoned:</span> X
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container mt-4">

    <div class="row row-cols-1 row-cols-md-2 g-4">

      <!-- Currently Playing -->
      <div class="col">
        <div class="profile-section">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0 h4">Currently Playing</h2>
            <a href="{% url 'all_entries' %}?status=playing" class="btn btn-sm custom-btn">Manage Category</a>
          </div>

          <div class="row">
            {% for entry in currently_playing_entries|slice:":3" %}
              <div class="col-md-4 mb-4">
                    <div class="result-card p-3">
                        <a href="{% url 'edit_entry' entry.id %}" class="edit-btn position-absolute top-0 end-0 m-2"><i class="fa-solid fa-pencil"></i></a>
                        {% if entry.cover_id %}
                            <div class="poster-wrapper pb-2">
                                <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ entry.cover_id }}.jpg" alt="{{ entry.title }}" class="profile-poster">
                            </div>
                        {% endif %}
                        <div class="card-body text-white align-items-center">
                            <h3 class="card-title text-center">{{ entry.title }}</h3>
                        </div>
                    </div>
                </div>
            {% empty %}
              <p class="small">No games in this category yet. <a href="{% url 'search' %}" class="link-text">Search for a game</a> to add one!</p>>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Completed -->
      <div class="col">
        <div class="profile-section">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0 h4">Games Completed</h2>
            <a href="{% url 'all_entries' %}?status=completed" class="btn btn-sm custom-btn">Manage Category</a>
          </div>

          <div class="row">
            {% for entry in completed_entries|slice:":3" %}
              <div class="col-md-4 mb-4">
                <div class="result-card p-3">
                    <a href="{% url 'edit_entry' entry.id %}" class="edit-btn position-absolute top-0 end-0 m-2"><i class="fa-solid fa-pencil"></i></a>                    
                    {% if entry.cover_id %}
                        <div class="poster-wrapper pb-2">
                            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ entry.cover_id }}.jpg" alt="{{ entry.title }}" class="profile-poster">
                        </div>
                    {% endif %}
                  <div class="card-body text-white align-items-center">
                    <h3 class="card-title text-center">{{ entry.title }}</h3>
                  </div>
                </div>
              </div>
            {% empty %}
              <p class="small">No games in this category yet. <a href="{% url 'search' %}" class="link-text">Search for a game</a> to add one!</p>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Backlog -->
      <div class="col">
        <div class="profile-section">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0 h4">Gaming Backlog</h2>
            <a href="{% url 'all_entries' %}?status=backlog" class="btn btn-sm custom-btn">Manage Category</a>
          </div>

          <div class="row">
            {% for entry in backlog_entries|slice:":3" %}
              <div class="col-md-4 mb-4">
                <div class="result-card p-3">
                    <a href="{% url 'edit_entry' entry.id %}" class="edit-btn position-absolute top-0 end-0 m-2"><i class="fa-solid fa-pencil"></i></a> 
                    {% if entry.cover_id %}
                        <div class="poster-wrapper pb-2">
                        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ entry.cover_id }}.jpg" alt="{{ entry.title }}" class="profile-poster">
                        </div>
                    {% endif %}
                    <div class="card-body text-white align-items-center">
                        <h3 class="card-title text-center">{{ entry.title }}</h3>
                    </div>
                </div>
              </div>
            {% empty %}
              <p class="small">No games in this category yet. <a href="{% url 'search' %}" class="link-text">Search for a game</a> to add one!</p>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Abandoned -->
      <div class="col">
        <div class="profile-section">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0 h4">Games Abandoned</h2>
            <a href="{% url 'all_entries' %}?status=abandoned" class="btn btn-sm custom-btn">Manage Category</a>
          </div>

          <div class="row">
            {% for entry in abandoned_entries|slice:":3" %}
              <div class="col-md-4 mb-4">
                <div class="result-card p-3">
                    <a href="{% url 'edit_entry' entry.id %}" class="edit-btn position-absolute top-0 end-0 m-2"><i class="fa-solid fa-pencil"></i></a> 
                    {% if entry.cover_id %}
                    <div class="poster-wrapper pb-2">
                      <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ entry.cover_id }}.jpg" alt="{{ entry.title }}" class="profile-poster">
                    </div>
                    {% endif %}
                    <div class="card-body text-white align-items-center">
                        <h3 class="card-title text-center">{{ entry.title }}</h3>
                    </div>
                </div>
              </div>
            {% empty %}
              <p class="small">No games in this category yet. <a href="{% url 'search' %}" class="link-text">Search for a game</a> to add one!</p>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock %}
