/* ============ Site Wide Styles ============ */

/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    /* Typography */
    --font-heading: "Cabin", sans-serif;
    --font-body: "Inter", sans-serif;

    /* Core colours */
    --color-primary: black;
    --color-secondary: white;

    /* Accent colours */
    --color-accent-1: purple;
    --color-accent-2: red;
}

/* Global Styles */
h1, h2, h3 {
    font-family: var(--font-heading);
}

body {
    font-family: var(--font-body);
}

/* Navbar */



/* ============ Page Styles ============ */