{% extends 'base.html' %}
{% block content %}
<section class="container my-5 text-center">
    <div class="pb-4">
        <h1>Search Games</h1>
    </div>
    <!-- Search Bar -->
    <form method="GET" id="search-form" class="row g-3 align-items-center">
        <!-- Search input -->
        <div class="col-md-6">
            <input type="text" name="q" class="form-control" placeholder="Search for a game..." value="{{ request.GET.q }}">
        </div>
        <!-- Console dropdown -->
        <div class="col-md-3">
            <select name="platform" class="form-select">
                <option>All Platforms</option>
                <option>PlayStation 5</option>
                <option>PlayStation 4</option>
                <option>Xbox Series X/S</option>
                <option>Nintendo Switch</option>
                <option>PC</option>
            </select>
        </div>
        <!-- Submit button -->
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100">
                Search
            </button>
        </div>
    </form>

    <!-- Loading State Using JavaScript-->
    

    <!-- Search Results -->
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if results %}
        <ul>
            {% for game in results %}
                <li>
                    <strong>{{ game.name }}</strong>
                    
                    {% if game.cover %}
                        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.image_id }}.jpg" alt="{{ game.name }}">
                    {% endif %}
                    
                    {% if game.summary %}
                        <p>{{ game.summary }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    

</section>
{% endblock %}
