{% extends 'base.html' %}
{% block content %}
<section class="container text-center py-5">
    <div class="pb-4">
        <h2 class="fw-semibold mb-2">Search Games</h2>
        <p class="lead opacity-75">Trackng your journey is just one search away...</p>
    </div>

    <!-- Search Bar, Dropdowna-->
    <form method="GET" id="search-form" class="row g-3 align-items-center justify-content-center mb-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-8 col-lg-6">
                <input type="search" name="q" class="form-control search-bar" placeholder="Search for a game..." value="{{ request.GET.q }}">
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <select name="platform" class="form-select custom-dropdown">
                <option value="" {% if not platform %}selected{% endif %}>All Platforms</option>
                <option value="PlayStation" {% if platform == "PlayStation" %}selected{% endif %}>PlayStation</option>
                <option value="Xbox" {% if platform == "Xbox" %}selected{% endif %}>Xbox</option>
                <option value="Nintendo" {% if platform == "Nintendo" %}selected{% endif %}>Nintendo</option>
                <option value="PC" {% if platform == "PC" %}selected{% endif %}>PC</option>
            </select>
        </div>
        <div class="col-md-3 col-lg-2">
            <button type="submit" class="btn btn-success px-5">Search</button>
        </div>
    </form>

    <!-- Loading State Using JavaScript-->
    

    <!-- Search Results -->
    {% if error %}
        <p>{{ error }}</p>
    {% endif %} 

    {% if results %}
        <div class="row mt-4">
            {% for game in results %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100 shadow-sm text-center result-card"">

                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>

                            {% if game.cover %}
                                <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.cover.image_id }}.jpg" class="img-fluid mb-3 result-image" alt="{{ game.name }}">
                            {% endif %}

                            {% if game.summary %}
                                <p class="card-text small">{{ game.summary|truncatewords:25 }}</p>
                            {% endif %}

                            <!-- Status Dropdown -->
                            <div class="input-group mt-2">
                                <select class="form-select custom-dropdown">
                                    <option selected>Select status</option>
                                    <option>Backlog</option>
                                    <option>Playing</option>
                                    <option>Completed</option>
                                    <option>Abandoned</option>
                                </select>
                                <button class="btn custom-btn" type="button">Add</button>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    
    

</section>
{% endblock %}
